/* General */
* {
  font-family: "MuseoSlab500", Consolas, monospace;
  font-size: 1em;
  text-rendering: optimizeSpeed;
}

::selection {
  background: #289baa;
  color: white;
}

ul {
  list-style: none;
}

ul.binary-visualizer {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul.binary-visualizer * {
  font-family: courier;
  font-size: 0.95rem;
  line-height: 0.9rem;
}

ul.binary-visualizer span {
  display: inline-block;
  min-width: 80px;
  text-align: right;
}

.binary-total {
  margin-left: 80px;
  margin-top: 3px;
  padding-top: 2px;
  border-top: 1px solid black;
  text-align: right;
}

.output,
.output * {
  font-family: Consolas, monospace;
}

body {
  font-size: 13pt;
  padding: 1em 8em;
  line-height: 1.3em;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

h2 {
  margin-top: 0.5em;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #2daebf;
}

.hidden {
  display: none;
}

span.zero,
.binary-0 {
  color: #aaa;
}

.active span.zero {
  color: #666;
}

pre {
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

#examples {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#thanks {
  display: none;
  text-align: center;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#settings {
  margin-bottom: 1em;
}

.parse-error {
  background-color: #e33100;
}

/* Dynamic display */
span.active,
.hover-group,
.parse-error {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: -2px;
  margin-right: -2px;
}

span.active,
.hover-group.active {
  background-color: #b2e6ed;
}

span.active.error {
  background-color: #ffb3b3;
}

#arin dt,
#arin dd {
  display: none;
}

#arin dd,
#arin dd span,
#arin dd pre,
#arin dd a {
  font-family: Consolas, monospace;
}

.error {
  display: none;
}

dd.error {
  font-family: Consolas, monospace;
}

dd.comment {
  width: 70%;
}
dd.comment pre {
  white-space: pre-line;
}

.error .zero {
  color: red;
}

.digit.error {
  display: inline;
  color: red;
}

#arin-error {
  display: none;
}

#footer {
  text-align: center;
}

#footer > * {
  vertical-align: middle;
}

#copyright {
  margin-right: 1em;
}

/* More information */
#more-information {
  border-top: 1px solid #ddd;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 1em;
}

#rfcs {
  float: left;
  width: 45%;
}

#wikipedia {
  float: right;
  width: 45%;
}

/* Lists */
div > dl {
  margin-left: 1em;
}

dl {
  float: left;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
  padding: 0;
}

dt {
  clear: left;
  float: left;
  width: 12em;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

dd {
  float: left;
  margin: 0;
  padding: 0;
}

dd, dt {
  padding-top: 0.333em;
}

/* Address entry field */
#address-wrapper {
  width: 500px;
  margin: 1em auto;
}

#address-wrapper input {
  width: 498px;
  font-size: 1.5em;
  padding: 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.awesome {
  background: #222222 url(/images/alert-overlay.png) repeat-x;
  padding: 15px 20px 15px 20px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
}

.awesome:hover {
  background-color: #111;
  color: #fff;
}

.awesome {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.blue.awesome {
  background-color: #2daebf;
}

.blue.awesome:hover {
  background-color: #007d9a;
}

.red.awesome {
  background-color: #e33100;
}

.red.awesome:hover {
  background-color: #872300;
}

/* Buttons */
#buttons {
  text-align: center;
}

#buttons > * {
  vertical-align: middle !important;
}

/* Clearfix */
.clear-fix:after {
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
